/* ================================================== NAVBAR ========================================= */

.nav {
    display: flex;
    flex-direction: row;
    gap: 240px;
    padding: 24px 72px;
    align-items: center;
    justify-content: space-between;
    height: 112px;
  }
  .nav .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 36px;
  }
  .nav .nav-items a:hover,
  .nav .nav-items div button:hover {
    color: var(--primary-color);
    scale: 1.1;
    transition: all 0.2s;
  }
  .nav .nav-items a,
  .nav .nav-items div button {
    transition: all 0.2s;
  }
  
  .nav .nav-items .active {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
    text-align: center;
  }
  .dropdown button {
    background: none;
    border: none;
    color: white;
  }
  .dropdown .dropdown-menu {
    color: var(--primary-color);
    --bs-dropdown-bg: none;
    --bs-dropdown-border-color: none;
    --bs-dropdown-link-hover-bg: none;
    --bs-dropdown-link-active-color: none;
  }
  
  .dropdown .dropdown-menu.show {
    display: initial;
    transition: all 0.2s;
  }
  .dropdown .dropdown-menu a {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
  .nav a {
    padding: 12px 0px;
    gap: 8px;
  
    width: auto;
    height: 48px;
  }
  
  .button-stack {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .btn-outline {
    padding: 12px 20px;
    gap: 8px;
  
    width: auto;
    height: 48px;
  
    border: 2px solid #ffb703;
    border-radius: 6px;
    background: none;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  
    color: var(--primary-color);
  }
  .btn-solid {
    padding: 12px 20px;
    gap: 8px;
  
    width: auto;
    height: 48px;
  
    background: #ffb703;
    border-radius: 6px;
    border: none;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  
    color: #ffffff;
  }